.progbar{
    position: relative;
    
transition: 0.3s;}
.list1{ text-align: center;
     
    }

    .count{
        font-size: 50px;

    }
    .test{position: relative;
        left: 55px;
    }

    .render1{
        left: 300px;

    }
    .img{position: relative;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 1px;
        width: 90px;
        top: 50px;
        right: 200px;
    }
    @media only screen and (min-width: 768px){ .fixed-top{
        transition: 0.3s;
       position: relative;
       left:-200px;
        
      

    }}
    @media only screen and (min-width: 768px){.container-fluid{ position: absolute;
        border-radius: 30px;
    left: 300px;
    transition: 0.3s;
    width: 40%;
    
   
  transition: 0.3s;
    background: #fff;
   
    
   };
  }
    .str{right: 28%;
        position: relative;}
        .use{
            position: relative;
            left: 30%;
        }
        .line{right: 33%;
            position: relative;}
            @media only screen and (min-width: 768px){.fixed-top{ 
                transition: 0.3s;
                transition: 0.90s;
                bottom:60px;
                border-radius: 30px;
               
               }}
               @media only screen and (min-width: 768px){.star-rating{
                margin-top: -55px;
                 right: 30px; 
                 box-sizing: border-box; }}
               

                   .sliderP{margin-top: -10px;}
                   .slider1{margin-bottom: -40;
                background-color: black;}
                   .sliderP1{margin-top: -30px;}
                   @media  screen and (min-width: 768px) {
                    /* For desktop: */
                    .row {width:90%;}
                    
                  }
                  
                  .App{box-sizing: border-box;
                              }
                  .rep{color: black;}
                  .yes{color: black;}
                  .njoum{color: black;}
                  .bar1{color: black;}
                  .slider{color: black;}
                  .review-buttons-type{left: 40px;}
                  
                
    