.progbar{width:20%;}
.list1{ text-align: center;
     
    }
    .count{
        position: relative;
        right: 60px;
        top:60px;
        font-size: 50px;

    }
    .start{
        position: relative;
        left: 80px;

    }
    .render1{position: relative;
        left: 200px;

    }
.list{ position: relative;
    left: 300px;
    transition: 0.3s;
    width: 30%;
   
    
   };
   .progbar{position: relative;
    right: 200px;}
    .str{right: 28%;
        position: relative;}
        .use{
            position: relative;
            left: 30%;
        }
        .line{right: 33%;
            position: relative;}
            .fixed-top{ 
                transition: 0.5s;
                width: 50%;
                left: 200px;
                bottom:60px
               
               }
               .star-rating{
                   margin-top: -55px;}
                   .sliderP{margin-top: -10px;}
                   .slider1{margin-bottom: -40;
                background-color: black;}
                   .sliderP1{margin-top: -30px;}
                
    